

<!DOCTYPE html>
<html lang="es" region="mx">
<head>
	<style>
		body {background-color: #2915d9;
		color: black}
		a {
			color: white;
		}
		.flex-container {
  display: flex;
  background-color: #2915d9
;
}

.flex-container > div {
  background-color: #b19f84;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
		.header {display: flex;
			background:green}

	</style>

	
	<link rel="preload" href="//platform.docplanner.com/css/jade-dpuikitv3-217a7e80.css" as="style"/>
	<meta charset="utf-8"/>
	<title>Growing Enterprises</title>

</head>
<body id="homepage" class="main-homepage" >	
	<h1>Growing Enterprises</h1>

	<div class="flex-container">
	  <div>Empresas</div>
	  <div>Clientes</div>
	  <div>Registrarme</div>
	  <div>Preguntas Frecuentes</div>  
	  <div>Iniciar Sesión</div>  

	</div>

<div class="header">
<a>Growing Enterprises</a>
</div>										
				
					
<div class="navbar-cross-nav d-none d-xl-flex">
	<a class="bg-secondary-dark flex-grow-1 text-center">
		Empresas
	</a>

	<a
		class="flex-grow-1 text-center"
		href="clientes"
	>
		clientes
	</a>
</div>
		<div class="navbar-collapse align-items-center px-2 pr-md-0 collapse"
		     data-id="navbar-right-collapse"
		>
			<ul
				class="navbar-nav navbar-right align-items-md-center ml-auto"
				data-id="top-navigation"
				data-test-id="navbar"
			>
				
	<li class="nav-item">
		<a class="nav-link" href="datos" title="¿Cómo protegemos los datos?">
			¿Cómo protegemos los datos?
		</a>
	</li>

	
			
		<li class="nav-item dropdown">
	<a
        class="nav-link justify-content-between"
        href="#"
	    data-toggle="dropdown"
	>
		Registrarme
		<i class="svg-icon svg-icon-caret-right svg-icon-size-12 svg-icon-color-white d-block d-md-none ml-0-5" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.293 20.707a1 1 0 0 1 0-1.414L14.586 12 7.293 4.707a1 1 0 0 1 1.414-1.414l8 8a1 1 0 0 1 0 1.414l-8 8a1 1 0 0 1-1.414 0Z"/></svg></i>
		<i class="svg-icon svg-icon-caret svg-icon-size-12 svg-icon-color-white d-none d-md-block ml-0-5" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3.293 7.293a1 1 0 0 1 1.414 0L12 14.586l7.293-7.293a1 1 0 1 1 1.414 1.414l-8 8a1 1 0 0 1-1.414 0l-8-8a1 1 0 0 1 0-1.414Z"/></svg></i>
	</a>

	<div class="dropdown-menu dropdown-menu-right">
		<a
			href="#"
			class="dropdown-item d-flex d-md-none"
			data-id="dropdown-back-btn"
		>
			<i class="svg-icon svg-icon-caret-left svg-icon-size-12 svg-icon-color-white" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.293 12.707a1 1 0 0 1 0-1.414l8-8a1 1 0 1 1 1.414 1.414L9.414 12l7.293 7.293a1 1 0 0 1-1.414 1.414l-8-8Z"/></svg></i>
			<span class="dropdown-item-text">Registrarme</span>
		</a>
		<button
			class="dropdown-item"
			data-id="navbar-link"
			data-url="registo"
		>
			<span class="dropdown-item-text">Como cliente</span>
		</button>
		<button
			class="dropdown-item"
			data-id="navbar-link"
			data-url="registro_empresa"
		>
			<span class="dropdown-item-text">Como empresa</span>
		</button>

			</div>
</li>		
		<div
	data-id="abandoned-cart-box"
	data-view="profile"
></div>
	
	<section
		id="intro"
		class="pt-5 pb-1 pb-sm-5">
		<div class="container text-center text-sm-left">
			<div class="row">
				<h1 class="col-lg-12 mt-0 mt-sm-12 intro-header">
					Encuentra lo que necesitas
				</h1>

				<h2 class="col-lg-12 h3 intro-header">
					Los profesionales están aquí para ayudarte.
				</h2>
            </div>
        </div>

		<div id="popular-queries-short">
		<div class="container">
		<ul class="list-inline">
							<li class="list-inline-item">
					<a
						href="Tipo de empresas 1"
						title="Tipo de empresas 1"
					>
                                Tipo de empresa 1
					</a>
				</li>
							<li class="list-inline-item">
					<a
						href="tipo de empresas 2"
						title="tipo de empresas 2"
					>
                            tipo de empresas 2
					</a>
				</li>
							<li class="list-inline-item">
					<a
						href="tipo de empresas 3"
						title="tipo de empresas 2"
					>
                            Tipo de empresas 3
					</a>
				</li>

			
			<li class="list-inline-item more">
				<u><a href="#">Ver más</a></u>
			</li>
		</ul>
	</div>


	
</div>
			</div>
		</section>
	<section
		id="benefits"
		class="bg-white pt-2 pt-sm-3">
		<div class="container">
			<div class="row">
					<div class="col-md-3 mb-2 mb-sm-0 media flex-column mt-0">
		<div class="pr-1">
			<div class="d-inline-flex">
				<i class="svg-icon svg-icon-search svg-icon-size-24 svg-icon-color-secondary" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 9.5a4.5 4.5 0 1 0-9 0 4.5 4.5 0 0 0 9 0Zm-.665 5.249a6.5 6.5 0 1 1 1.414-1.414l4.958 4.958a1 1 0 0 1-1.414 1.414l-4.958-4.958Z"/></svg></i>

				<h3 class="h4 ml-1 mb-0 mr-1">Encuentra tus clientes</h3>
			</div>
		</div>

		<div class="media-body">
			<p class="text-muted mt-1 mb-3 m-0 mb-sm-3">Las opiniones reales clientes te ayudarán a tomar siempre la mejor decisión.</p>
		</div>
	</div>


			</div>
		</div>
	</section>

<footer id="footer" class="footer text-center text-sm-left bg-white pt-2 pb-2 text-placeholder" data-id="footer">

	<div class="container">
		<div class="row">
			<aside class="col-lg-3 col-md-6">
				<div class="h4 text-muted">
					Servicio
				</div>

				<ul class="list-unstyled text-list">
						<li><a href="/privacidad"  class="text-placeholder">Privacidad y cookies</a></li>
					
						<li><a href="/about-us"  class="text-placeholder">Quiénes somos</a></li>
						<li><a href="/contacto"  class="text-placeholder">Contacto</a></li>
						<li><a href="/terminos-y-condiciones"  class="text-placeholder">Términos y condiciones</a></li>
					
									</ul>
			</aside>
			<aside class="col-lg-3 col-md-6">
				<div class="h4 text-muted">
					Para los clientes
				</div>

				<ul class="list-unstyled text-list">
					
						<li><a href="servicios"  class="text-placeholder">Servicios</a></li>


						<li><a href="preguntas"  class="text-placeholder">Preguntas Frecuentes</a></li>


														</ul>
			</aside>
			<aside class="col-lg-3 col-md-6">
				<div class="h4 text-muted">
					Para empresas
				</div>

				<ul class="list-unstyled text-list">

											
													<li>
								<a
									href="precios"
									class="text-placeholder"
									data-ga-event="click"
									data-ga-label="footer"
								>
									Planes y precios
								</a>
							</li>
						
													<li>
								<a
									href="para empresas"
									class="text-placeholder"
									data-ga-event="click"
									data-ga-label="footer"
								>
									Para especialistas
								</a>
							</li>						
													<li>
								<a
									href="clientes"
									class="text-placeholder"
									data-ga-event="click"
									data-ga-label="footer"
								>
									Para clientes
								</a>
							</li>

						


							<li>
								<a
									href="Terminos y condiciones"
									class="text-placeholder"
									data-ga-event="click"
									data-ga-category="visitEcommerceTerms"
									data-ga-action="footer - ecommerceTerms"
									data-ga-label="footer"
								>
									Condiciones del perfil Premium
								</a>
							</li>
									</ul>
			</aside>
			<aside class="col-lg-3 col-md-6">
				<div class="mt-2 d-sm-none"></div>
				<a href="/" class="small default h4 mx-auto mx-sm-0 mb-1"
				   data-lazyload-class="logo-zl"
				></a>
				<address>
					Growing Enterprises<br/>
					Casa de Adrián<br/>
					CP 00000 CDMX, México
					<br/>(+52) 00 00 00 00 
				</address>
				<ul class="list-inline">
																																																																																																																																													</ul>

			</aside>
		</div>

		<hr class="my-3">


	</div>

			<div class="row m-0 w-100 floating-cookie-info floating-cookie-info-hidden"
     data-id="floating-cookie-info"
>
	<div class="col-md-12 p-0">

					<p class="text-left pr-1-5 m-0 mb-1-5 mb-sm-0 text-muted">
						Esta página web utiliza cookies. Haz clic <a href="cookies" id="close-cookie-info">aquí</a> para más información. Continúa navegando si estás de acuerdo con las cookies.
					</p>
					<button class="btn btn-link btn-only-icon"
					        data-id="cookie-info-close"
					        type="button"
					>
					</button>
	</div>
</div>
	</footer>

	
</body>
</html>
