
{% load static %}
{% load humanize %}
{% include "/header.html" %}
<h1>Aviso de Privacidad
</h1>
<p>
    I.- IDENTIDAD Y DOMICILIO DEL RESPONSABLE. Los datos personales por usted proporcionados y que fueron recabados de forma lícita, son tratados por Growing Enterprises con domicilio Av. algo, CDMX. correo hola@growingEnterprises.mx, con la finalidad de brindarle servicios que brindamos apegándonos a lo establecido en la LFDPPP en lo relativo al tratamiento y transferencia de datos personales y en particular, con lo establecido en los artículos 10 fracción IV y 37 fracción VII de la LFPDPPP.
</p>
<p>
    II.- FINALIDAD DEL TRATAMIENTO DE LOS DATOS PERSONALES. Growing Enterprises, tratará los datos personales del Titular para el cumplimiento de las obligaciones derivadas de una relación jurídica y que se consideren análogas para efectos legales, esto, con base en el artículo 10 fracción IV de la LFPDPPP y 15 fracción II del RLFPDPPP. Los datos personales serán tratados de conformidad con la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento, observándose siempre los principios de licitud, consentimiento, información, calidad, finalidad, lealtad, proporcionalidad y responsabilidad; así mismo, los datos serán recabados y tratados de manera lícita.

</p>
<p>
    Hacemos de su conocimiento que, a fin de registrarse o ponerse en contacto en el presente sitio web, se le pedirán los siguientes datos: nombre completo, correo electrónico y teléfono móvil.
</p>
<p>
    III.- TRANSFERENCIA DE DATOS PERSONALES. Los datos personales podrán ser transferidos a las Autoridades Fiscales y/o Administrativas con estricto apego a la confidencialidad del Servicio y para dar cumplimiento a las obligaciones derivadas de la Prestación de Servicios proporcionados por Growing Enterprises, y el Titular a través de un contrato, esto, con base al artículo 37 fracción VII de la LFPDPPP y 15 fracción II del RLFPDPPP.
</p>
<p>
    IV.- DATOS PERSONALES SENSIBLES. Growing Enterprises no solicita datos sensibles ni comparte sus datos personales con terceros distintos a una autoridad fiscal y/o administrativa y/o nuestros colaboradores; colaboradores con los cuales tenemos un contrato de confidencialidad.
</p>
<p>
    V.- CONFIDENCIALIDAD DE LOS DATOS PERSONALES. La confidencialidad de los datos personales está garantizada y los mismos están protegidos por medidas de seguridad administrativas, técnicas y físicas, para evitar su daño, pérdida, alteración, destrucción, uso, acceso o divulgación indebida.
</p>
<p>
    VI.- PRINCIPIOS DE PROTECCIÓN A LOS DATOS PERSONALES. Growing Enterprises velará por el cumplimiento de los principios de protección de datos personales establecidos en la respectiva Ley, debiendo adoptar las medidas necesarias para su aplicación. Lo anterior aplicará aún y cuando estos datos fueren tratados por un tercero a solicitud del responsable. Growing Enterprises, tomará las medidas necesarias y suficientes para garantizar que el aviso de privacidad dado a conocer al Titular, sea respetado en todo momento por él o por terceros con los que guarde alguna relación jurídica o subordinada.
</p>
<p>
    VII.- EJERCICIO DE LOS DERECHOS DE ACCESO, RECTIFICACION, CANCELACION Y OPOSICION. Cualquier Titular, o en su caso, su representante legal, podrá ejercer los derechos de acceso, rectificación, cancelación y oposición previstos en la LFPDPPP. El ejercicio de cualquiera de ellos no es requisito previo ni impide el ejercicio de otro. La solicitud de acceso, rectificación, cancelación u oposición deberá contener y acompañar lo siguiente:
</p>

<li>El nombre del Titular y domicilio u otro medio para comunicarle la respuesta a su solicitud;
</li>
<li>Los documentos que acrediten la identidad o, en su caso, la representación legal del Titular;
</li>
<p>VIII. La descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos antes mencionados, y
</p>
<li>Cualquier otro elemento o documento que facilite la localización de los datos personales. El Titular tendrá en todo momento el derecho a cancelar sus datos personales. La cancelación de datos personales dará lugar a un periodo de bloqueo tras el cual se procederá a la supresión del dato. Growing Enterprises, podrá conservarlos exclusivamente para efectos de las responsabilidades nacidas del tratamiento. El periodo de bloqueo será equivalente al plazo de prescripción de las acciones derivadas de la relación jurídica que funda el tratamiento en los términos de la Ley aplicable en la materia. Una vez cancelado el dato se dará aviso a su Titular.

</li>
<p>El responsable comunicará al Titular, en un plazo máximo de veinte días, contados desde la fecha en que se recibió la solicitud de acceso, rectificación, cancelación u oposición, la determinación adoptada, a efecto de que, si resulta procedente, se haga efectiva la misma dentro de los quince días siguientes a la fecha en que se comunica la respuesta. Tratándose de solicitudes de acceso a datos personales, procederá la entrega previa acreditación de la identidad del solicitante o representante legal, según corresponda.

</p>
<p>Los plazos antes referidos podrán ser ampliados una sola vez por un periodo igual, siempre y cuando así lo justifiquen las circunstancias del caso.

</p>
<p>IX.- DEPARTAMENTO DE DATOS PERSONALES. Podrá ejercer los derechos de acceso, rectificación, cancelación u oposición al tratamiento de sus datos personales siguiendo lo descrito en el apartado VII de este aviso, a través del correo electrónico: hola@growingEnterprises.mx

</p>